@font-face{
  font-family:FT88;
  src:url('./FT88-Regular.ttf')
}
@font-face{
  font-family: Pilowlava;;
  src:url('./Pilowlava-Regular.otf')
}
@media screen and (max-width: 768px) {
  nav{font-size: 14px};
}

@media screen and (max-width: 768px) {
  div.navBarLeft{margin:0px}
}

@media screen and (max-width: 768px) {
  div.navBarRight{margin:0px}
}
@media screen and (max-width: 768px) {
  div.navBarLeft{width: 42%;}
}

@media screen and (max-width: 768px) {
  div.navBarRight{width:52.5%;}
}

@media screen and (max-width: 768px) {
  #project1Div{margin-top:350px}
}
@media screen and (max-width: 768px) {
  #resumeDiv{margin-top:300px}
}
@media screen and (max-width: 768px) {
  #project2Div{margin-top:240px}
}
@media screen and (max-width: 768px) {
  #project3Div{margin-top:380px}
}
@media screen and (max-width: 768px) {
  #project4Div{margin-top:200px}
}
@media screen and (max-width: 768px) {
  #eightBallDiv{margin-top:180px}
}
@media screen and (max-width: 768px) {
  #aboutMeDiv{margin-top:130px}
}

title{
  font-family: 'Pilowlava';
}
nav {
  height: 40px;
  z-index: 1;
  font-family: 'FT88';
  }

svg {
  padding: 5px;
}

#deepDish{
  padding-left: 15px;
  padding-top: 2px;
  font-weight: medium;
  color: #000000;
  cursor: url('./images/pizza.png'), auto;
}

.navBarLeft {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.leftIcons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

.navBarRight {
  display: flex;
  justify-content: right;
  align-content: space-evenly;
  margin-right: 10px;
  margin-bottom:8px;
}
#span{
  font-family: 'FT88';

}

body {
	background: linear-gradient(-45deg, #FF731D, #FFF7E9, #5F9DF7, #1746A2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.project1Container {
  display: flex;
  justify-content: left;
  margin-left:20px;
  margin-top:20px
}

#project1Div {
  position: absolute;
}

#project1Image {
  height: 80px;
  width: 80px;
  cursor: move;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#project1Text {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  
}

#resumeContainer {
  display: flex;
  margin-top: 15px;
  margin-left: 305px
}

#resumeDiv {
  position: absolute;
}

#resumeImage {
  height: 80px;
  width: 70px;
  cursor: move;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#resumeText {
  padding-top: 4px;
  padding-left: 8px;
  font-weight: normal;
  font-size: medium;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#project2Container {
  display: flex;
  justify-content: left;
  margin-left: 120px;
  margin-top: 60px
}

#project2Div {
  position: absolute;
}

#project2Image {
  height: 80px;
  width: 80px;
  cursor: move;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#project2Text {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#aboutMeContainer {
  display: flex;
  justify-content: left;
  margin-left: 200px;
  margin-top: 140px;
}

#aboutMeDiv {
  position: absolute;
}

#aboutMeImage {
  cursor: move;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  cursor: pointer;
  height: 80px;
  width: 80px;
}
#aboutMeText {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 30px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#eightBallContainer {
    display: flex;
    justify-content: right;
    margin-right:160px;
    margin-top: 30px;
}

#eightBallDiv {
  position: absolute;
}

#eightBallImage {
  cursor: move;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  cursor: pointer;
}

#myPopup {
  font-weight: normal;
  font-size: medium;
  margin-left:10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#project3Container {
  display: flex;
  margin-left:40px;
  margin-top:100px
}

#project3Div {
  position: absolute;
}

#project3Image {
  height: 80px;
  width: 80px;
  cursor: move;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#project3Text {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.sticky-container {
  display: flex;
  justify-content: right;
  margin-right:350px;
  margin-top:20px
}

.sticky-outer {
  display: flex;
}

.sticky {
  position: absolute;
  height:250px;
  width: 300px;
}

/* Shadow behind the sticky note */
.sticky:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  width: 90%;
  left: 5px;
  height: 83%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(
    180deg,
    rgb(255, 229, 180)0%,
    rgb(255, 229, 180)12%,
    rgb(255, 229, 180)75%,
    rgb(255, 229, 180)100%
  );
  width: 100%;
  height: 100%;

  display: flex;
  justify-content:center;
  font-size: 9;
  

  clip-path: url(#stickyClip);
}

@media screen and (min-width: 640px) {
  .sticky:before {
    height: 80%;
    width: 90%;
  }
  .sticky-content {
    font-size: 9;
  }
}

@media screen and (min-width: 768px) {
  .sticky:before {
    height: 75%;
    width: 90%;
  }
  .sticky-content {
    font-size: 9;
  }
}

@media screen and (min-width: 1024px) {
  .sticky:before {
    height: 73%;
    width: 90%;
  }
  .sticky-content {
    font-size: 9;
  }
}

#project4Container {
  display: flex;
  margin-left:220px;
  margin-top:110px;
}

#project4Div {
  position: absolute;
}

#project4Image {
  height: 80px;
  width: 80px;
  cursor: move;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#project4Text {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}